out/*
res/Unterschrift.jpg
*.DS_Store

# LaTex Output Files #
######################
*.bak
# *.pdf
*.synctex.gz
*.aux
*.toc
*.bbl
*.blg
*.out
*.lof
*.nav
*.snm
*.pdf_tex
*.lot
*.lol
*.locode
*.bcf
*.dvi
*.run.xml
*.xml
*.fdb_latexmk
*.fls

# Logs and databases #
######################
*.log